.h1 {
	font-weight: 500;
	font-size: 18px;
	line-height: 133%;
	margin: 0;
	color: #000;

	@media (min-width: 768px) {
		font-size: 28px;
		line-height: 143%;
	}
}

.body-14 {
	font-size: 12px;
	line-height: 133%;
	color: #808080;

	@media (min-width: 768px) {
		font-size: 14px;
		line-height: 171%;
	}
}

.light {
	font-weight: 300;
}

.weight500 {
	font-weight: 500;
	color: #000;
}
